<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	threshold="null" debug="true">

	<!-- All appender -->
	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%t]-[%p]-[%l] %m%n" />
		</layout>
	</appender>

	<appender name="RollingFile" class=" org.apache.log4j.RollingFileAppender"
		Encoding=”UTF-8”>
		<param name="File" value=" /var/log/yt-web/yt.log " />
		<param name=" FilePattern "
			value="/var/log/yt-web/yt-%d{yyyy-MM-dd}-%i.log.gz " />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<param name="MaxFileSize" value="50MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c - %m%n%ex" />
		</layout>
	</appender>

	<!-- All category -->
	<category name="com.yt" additivity="false">
		<level class="org.apache.log4j.Level" value="debug" />
		<appender-ref ref="RollingFile" />
	</category>

	<!-- Root -->
	<root>
		<level class="org.apache.log4j.Level" value="info" />
		<appender-ref ref=RollingFile />
	</root>

</log4j:configuration>